

  <div class="row px-xl-5">
    <div class="col-lg-12 mb-2">
      <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Well done!</h4>
          <p>Bạn đã đặt hàng thành công,hãy chờ shipper giao hàng tới</p>
        </div>

    </div>
</div>